html {
  min-height: 100%;
}

body {
  font-family: "Arial";
  height: 100%;
  width: 100%;
  background-color:#e4e0e3;
  text-align:center;
  background-image: url("background.jpeg");
  background-size: cover;
 }

 body.tab{
     background-image: url("background2.jpeg");
     background-size: cover;
   
}


a {
  color: #1c1141;
  text-decoration: underline;
}
a:hover {
  color: #580242;
  text-decoration: underline;
}

.clear {
  clear: both;
}


.mainmenu {
  padding: 0;
  margin: 0;
  list-style: none;
  /* display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; */
  display: flex;
  flex-wrap: wrap;

  /* -webkit-flex-flow: row nowrap; */
  justify-content: space-around;
}

.flex-item {
  background: #9e7b9c;
  padding: 20px;
  margin: 0px;
  
  line-height: 40px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 1 auto;
}







div.content {
  margin: 10px;
}

table.tasks ,th,td{
  text-align:left;
  border:1px solid #580242;
  margin-left: 200px;
  width: 60%;
  /* background: #5d5c60; */
}

tr:nth-child(even) {background-color: #e0f5ef;}
tr:nth-child(odd) {background-color: rgb(249, 244, 249);}


tr:hover {background-color: #9bb4ad;}



.task-post label {
	display: inline-block; 
	min-width: 200px;
  font-size: 23px;

}
.task-post p {
  /* margin: 50px 0 50px 0; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 30px;
  box-sizing: border-box;
}
.task-post input[type=submit], textarea {
	font-size: 20px;
  background-color: #89aca2;
  border: none;
  color: #cef4e9;
  padding: 16px 32px;
  text-decoration: none;
  margin: 100px 10px;
  cursor: pointer;
}
h2 {
  padding: 10px;
	background: #9d8484;
}