html,
body {
  font-family: "Arial";
  height: 100%;
  width: 100%;
  background-color:#e4e0e3;
  text-align:center;
 }

a {
  color: #1c1141;
  text-decoration: underline;
}
a:hover {
  color: #580242;
  text-decoration: underline;
}

.clear {
  clear: both;
}

ul.mainmenu {
  list-style: none;
  background: #9e7b9c;
  height: 200px;
  margin: 200;
  color: #171513;
  font-size: 25px;
  overflow: auto;
  border:1px solid #580242;
}
ul.mainmenu li {
  float: left;
  margin: 18px 40px 0 50px;
}
ul.mainmenu li.last {
  float: right;
}

ul.mainmenu li a {
  color: #191209;
  text-decoration: none;
}
ul.mainmenu li a:hover {
  color: #7a0fa1;
}

div.content {
  margin: 10px;
}

table.tasks ,th,td{
  text-align:left;
  border:1px solid #580242;
  margin-left: 200px;
  margin-block-end: 100px;
  width: 60%;
  table-layout:auto;
  
}
tr:nth-child(even) {background-color: #e0f5ef;}
tr:nth-child(odd) {background-color: rgb(249, 244, 249);}


tr:hover {background-color:#cab3c9;}



.task-post label {
	display: inline-block; 
	min-width: 200px;
  font-size: 23px;

}
.task-post p {
  /* margin: 50px 0 50px 0; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 30px;
  box-sizing: border-box;
}
.task-post input[type=submit], textarea {
	font-size: 20px;
  background-color: #89aca2;
  border: none;
  color: #cef4e9;
  padding: 16px 32px;
  text-decoration: none;
  margin: 100px 10px;
  cursor: pointer;
}

.task-post .invalid {
	background: #FF9898;
}
.task-post .invalid-feedback {
	color: #CC0000;
}
h2 {
  padding: 10px;
	border: 1px solid #FF4343;
	background: #FF9C9C;
}